/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
}

/* GENERAL STYLE */
html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(hsl(214, 47%, 23%),  hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
}